<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Scraping</title>

  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../../assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Amiri|Cinzel" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">



</head>

<body style="background-image: url(assets/img/wood.png) ! important" >

  {{{body}}}


  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>


  <footer style="background-color:goldenrod; height: 5%">
    <p style="margin-left: 50px; font-family:Amiri , Cinzel ! important; padding-top: 10px; font-size: 20px ! important; color: white">
     <i class="fas fa-file-medical-alt fa-lg"></i> New York Times Health Mongo Scraper</p>
  </footer>

</body>


</html>